@import "tailwindcss";
@theme {
    --color-primary-blue-100: #3C8DBC;
    --color-primary-blue-200: #367FA9;
    --color-primary-blue-300: #307095;
    --color-primary-blue-400: #296282;
    --color-primary-blue-500: #23536F;
}

@layer base {
    h1 {
        font-size: var(--text-4xl);
        font-weight: 600;
    }
    h2 {
        font-size: var(--text-3xl);
        font-weight: 500;
    }
    h3 {
        font-size: var(--text-xl);
        font-weight: 500;
    }
    h4 {
        font-size: var(--text-lg);
        font-weight: 500;
    }
    h5 {
        font-size: var(--text-base);
        font-weight: 500;
    }
    h6 {
        font-size: var(--text-sm);
        font-weight: 500;
    }
    p {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}
.logo-fancy {
    clip-path: polygon(
        0 0,
        100% 0,
        70% 100%,
        0 100%
    );
}
.fancy-top-bottom {
    clip-path: polygon(
        0 2vw,
        100% 0,
        100% calc(100% - 2vw),
        0 100%
  );
}
.fancy-top {
    clip-path: polygon(
        0 4vw,
        100% 0,
        100% 100%,
        0 100%
  );
}
.fancy-bottom {
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 4vw),
        0 100%
  );
}
.notched-corner {
    clip-path: polygon(
        0 0,
        100% 0,
        100% 70%,
        60% 100%,
        0% 100%
  );
}