#----------
# Backend
#----------
backend/node_modules
backend/.env
backend/.env.local
backend/.env.development
backend/.env.production
backend/.env.test
backend/dist
backend/public/*

#----------
# Frontend
#----------
frontend/node_modules
frontend/.env
frontend/.env.local
frontend/.env.development
frontend/.env.production
frontend/.env.test
frontend/.nuxt
frontend/.output
frontend/.cache
frontend/.nitro
frontend/.data
frontend/dist
frontend/tsconfig.json

.env